body {
    /*display: flex;*/
    font-family: "Proxima Nova Soft", Proxima Nova Soft, sans-serif;
    color: #FFF;
    background-size: cover;
    /*justify-content: space-around;
    flex-flow: wrap;*/
}

header {
    display: block;
}

header>nav {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header>nav>figure {
    background-image: url("../images/spotify-logo.png");
    background-repeat: no-repeat;
    background-size: 160px;
}

header>nav>ul {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}

header>nav>ul>li {
    display: flex;
    margin-right: 12px;
}

header>nav>ul>li>a {
    color: black;
    text-decoration: none;
}

main {
    background-image: url("../images/landing.jpg");
    background-size: cover;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 800px;
    vertical-align: baseline;
}

main>h1 {
    margin-bottom: 1px;
    font-size: 70px;
    font-weight: 700;
    text-align: center;
}

main>p {
    font-size: 25px;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 45%;
    margin-left: 27%;
    margin-right: 27%;
    margin-top: 1px;
    margin-bottom: 1px;
    line-height: 35px;
}

section {
    display: block;
    margin-bottom: 40px;
    margin-left: 75px;
    margin-right: 75px;
}

section>article {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: black;
    font-weight: 500;
}

section>span>article>figure1 {
    background-image: url("../images/music-icon.png");
    background-repeat: no-repeat;
    background-size: 100px;
    display: flex;
}

h4 {
    display: block;
    color: #00B172;
    font-size: 20px;
}

p {
    display: flex;
    line-height: 20px;
    flex-direction: column;
    width: 150px;
}

section>span>article>figure1>p {
    color: black;
    font-weight: 500;
    display: flex;
}

section>span>article>figure2>p {
    color: black;
    font-weight: 500;
    display: flex;
}

section>span>article>figure3>p {
    color: black;
    font-weight: 500;
    display: flex;
}

section>span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

section>span>article>figure2 {
    background-image: url("../images/high-quality-icon.png");
    background-repeat: no-repeat;
    background-size: 100px;
    display: flex;
}

section>span>article>figure3 {
    background-image: url("../images/devices-icon.png");
    background-repeat: no-repeat;
    background-size: 100px;
    display: flex;
}

section>h2 {
    color: black;
    text-align: center;
    font-size: 25px;
    font-family: "Proxima Nova Soft", Proxima Nova Soft, sans-serif;
}

section>hr {
    align-items: center;
    margin-left: 40%;
    margin-right: 40%;
    background-color: #00B172;
    height: 3px;
}

footer {
    height: 100%;
    background-image: url("../images/spotify-icon-white.png");
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: center;
    border: solid 1px;
    background-color: #00B172;
    display: block;
    height: 550px;
    margin-bottom: 40px;
    margin-left: 75px;
    margin-right: 75px;
}

footer>h1 {
    margin-top: 40px;
    margin-left: 70px;
}

footer>hr {
    width: 33%;
    height: 3px;
    float: left;
    margin-left: 70px;
    background-color: white;
}

footer>ul {
    margin-left: -10px;
}

footer>ul>li {
    list-style: none;
    line-height: 30px;
    padding-left: 40px;
    width: 30%;
}

footer>h2 {
    display: block;
}

footer>p {
    line-height: 40px;
    padding-left: 40px;
    text-align: left;
    width: 50%;
}

footer>ul>figure {
    background-image: url("../images/spotify-app.jpg");
    background-size: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 75%;
    margin-top: -33%;
    margin-bottom: 45px;
    border: 1px;
    padding: 10px;
    width: 240px;
    height: 420px;
    position: relative;
}


/*footer>h2,
p:before,
footer>figure:before {
    background-image: url("../images/spotify-icon-white.png");
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: center;
    background-color: #00B172;
    content: "";
    width: 125px;
    height: 250px;
}

footer>h2,
p:before {
    float: left;
}

footer>figure:before {
    background-image: url("../images/spotify-app.jpg");
    background-position: right;
    padding-right: 40px;
    float: right;
}*/